/CreditCardPayment.class
/Discount.class
/EmailNotificationService.class
/fixedPAmountDiscount.class
/Invoice.class
/NotificationService.class
/Order.class
/Payment.class
/PayPalPayment.class
/PercentageDiscount.class
/Printable.class
/Product.class
/ProductRepository.class
/SolidExample.class